.container{
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url("../public/bg-pattern-circles.svg") no-repeat center -15rem;
    background-size: 100%;
    background-color: var(--body-desat-blue);
    color: #fff;
    border-top-right-radius: 14rem;
    border-bottom-left-radius: 14rem;
}


.phones{
    position: relative;
    bottom: 20rem;
}

.text{
    position: relative;
    bottom: 15rem;
}

.title{
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.underText{
    font-size: 1.8rem;
}