@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


:root {
  /* vars */
  /* primaries */
  --CTA-text: hsl(356, 100%, 66%);
  --CTA-hover: hsl(355, 100%, 74%);
  --heading-blue-text: hsl(208, 49%, 24%);
  /* neutral */
  --white-text: hsl(0, 0%, 100%);
  --footer-text: hsl(240, 2%, 79%);
  --body-copy: hsl(207, 13%, 34%);
  --bg-footer: hsl(240, 10%, 16%);
  /* gradients */
  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  --body-dark-blue: hsl(237, 17%, 21%);
  --body-desat-blue: hsl(237, 23%, 32%);
  font-size: 62.5%;
  line-height: 24px;
  font-weight: 400;
}
  *{
  box-sizing: border-box;
}
  a {
  color: inherit;
  text-decoration: none;
}
  
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    position: relative;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 2rem 10% 1rem 10%;
  width: 100%;
  position: absolute;
  top:0;
}

/* global Boostrap CSS rules: */

.dropdown-menu{
  border: none !important;
}

.accordion-button {
  font-size: 1.6rem !important;
  margin: auto !important;
  border: none !important;
  display: flex !important;
  gap:1rem !important;
}
.accordion-item {
  border: none !important;
  display: flex !important;
  align-items: center !important;
  /* justify-content: center; */
  flex-direction: column !important;
}
.accordion-collapse{
  width: 80% !important;
  background-color: rgb(244, 238, 238) !important;
  border-radius: 1rem !important;
}

.accordion-button:focus {
  background-color: transparent !important;
  outline: none !important;
  color: var(--body-copy) !important;
  box-shadow: none !important;
}

.accordion-button:active {
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
}

.accordion-button::after {
    background-image: url(../public/icon-arrow-dark.svg) !important;
    padding: 0 !important;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg) !important;
  position: relative !important;
  bottom: 3px !important;
  background-image: url(../public/icon-arrow-dark.svg) !important;
}
