.logo{
    display: flex;
    align-items: center;
    gap: 3rem;
}

#dropdownMenuButton{
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
}

.dropItem{
  font-size: 1.2rem;
}

.dropItem>:hover{
  background-color: transparent;
}
  
.links:hover{
    font-weight: 700;
    color: #000;
}
  

.drop_menus{
    display: none;
    align-items: center;
}

@media screen and (min-width: 600px){
    .drop_menus{
        display: flex;
    }
}

.btn_sect{
    display: none;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}
@media screen and (min-width: 600px){
    .btn_sect{
        display: flex;
    }
}
.btn_signup{
    padding: 1rem 3rem;
    border-radius: 3rem;
    border: none;
    color: var(--CTA-text);
    background-color: #fff;
}
.btn_signup:hover, .btn_login:hover{
    background-color: #fff;
    color: var(--CTA-text);
    cursor: pointer;
}
.btn_signup:hover{
    background-color: var(--CTA-hover);
    color: #fff;
}

.btn_login{
    padding: 1rem 3rem;
    border-radius: 3rem;
    border: none;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
}

.faBars{
    font-size: 1.8rem;
    color: #fff;
}

@media screen and (min-width: 600px){
    .faBars{
        display: none;
    }
}

.menuCard{
    position: absolute;
    background-color: #fff;
    width: 80%;
    right: 3rem;
    top: 6rem;
    border-radius: 1rem;
    border: none;
    padding: 4rem 0;
}