$accordion-border-color: transparent;
$dropdown-border-color: transparent;
$dropdown-color: #fff;
$dropdown-link-color: #000;
$dropdown-border-width: 0;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import '/node_modules/bootstrap/scss/accordion';
@import '/node_modules/bootstrap/scss/dropdown';
@import '/node_modules/bootstrap/scss/transitions';
